@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import '../node_modules/devicon/devicon.min.css';
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.skills{
  font-family: 'Inter', sans-serif;
  font-size: 38px;
  font-weight: bold;
  color:rgb(249, 249, 249);
  text-shadow: 1px 1.5px #1b1c1c;
  padding-top: 2%;
}

#body_skills{
  margin-top: 5%;
  background-color: #2b354acb;
  box-shadow: 1px 2px #15161c;

}
/*
#devider{
  content: '';
  position: absolute;
  display: block;
  width: 100px;
  height: 3px;
  background: #d82866;
  bottom: 0;
  left: 0;
}
*/

.icons{
  font-size: 5rem;
  padding: 1%;
}

.icons>div {
  text-align: center;

}

.icons i {
  display: inline-block;
}

#express{
  font-size: 7rem
}

#sequel{
  font-size: 7rem;
}
#node{
  font-size: 7rem;
}

.sizing{
  font-size: 6rem;
}

#mocha{
  color:rgb(143, 75, 50);
}

#postgres{
  color:rgb(34, 135, 172)
}

#mysql{
  color:rgb(31, 121, 199);
}


#xd{
color:rgb(210, 46, 109);
}

#home_page{
  margin-top: 56px;
}

#about_me{
  background-color:white;
  height: 90%;
  width: 100%;
}

#footer{
  height: 30px;
  background-color: #25273acb;
  width: 100%;
}

#aboutMe_body{
 color: #112f5c;
}

#aboutMe_header{
  font-family: 'Fira Code', monospace;
  color: #13315c;
}

.bgTimeline{
  background-color:rgb(232, 34, 110);
}

.timelineTXT{
  background-color:#2b354acb;
  border-color:rgb(232, 34, 110);

}

.descOfProj{
  color:rgb(72, 187, 222);
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.githubBtn2{
  color:rgb(232, 34, 110);;
}

.githubBtn2:hover{
  color:rgba(7, 6, 6, 0.673);
  cursor: pointer
}
.navHover:hover{
  color:rgb(121, 177, 205);
}

.githubBtn{
  color:rgb(148, 204, 233);
}
.githubBtn:hover{
  color:rgba(90, 135, 174, 0.762);
  cursor: pointer
}

#projectsBtn{
  padding-right: 68%;
}

.aboutProjects{
color:#6b778c;
}

#animation{
  height:100vh;
  position: relative;
  width: 100%;
}

#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
